<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Assuming you have a stylesheet at this location -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <h1>{{ site.title }}</h1>
    </header>
    
    <main>
        {{ content }}
    </main>
    
    <footer>
        <p>Copyright &copy; {{ site.time | date: "%Y" }}. All rights reserved.</p>
    </footer>
</body>
</html>
